* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  background-color: darkblue;
  color: white;
  width: 300px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 5px;
}
.card h2 {
  font-size: 20px;
}
